Binaries
DerivedDataCache
Intermediate
Saved
Content/Backup_Cinematic/SideScrollerExampleMap_cinematic.umap
Content/Models/Windmill/01_-_Default.uasset
*.umap
Content/Backup_Cinematic/SideScrollerExampleMap_cinematic_BuiltData.uasset